{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarea 3 Rodrigo Bustos</title>

    <!-- Instalacion de Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Patrones de diseño - Tarea 3</h1>
          <h2>Alumno: Rodrigo Bustos</h12>
          <h3>Seleccione el patrón a visualizar</h3>
          <a href="{% url 'mf' %}" class="btn btn-primary">Mostly Fluid</a>
          <a href="{% url 'cd' %}" class="btn btn-primary">Column drop</a>
          <a href="{% url 'ls' %}" class="btn btn-primary">Layout Shifter</a>
        </div>
      </div>
    </div>

  </body>
</html>
